@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #a1ffce, #faffd1);

    --background: 158 65% 6.56%;
    --foreground: 158 10% 99.1%;

    --muted: 158 50% 24.599999999999998%;
    --muted-foreground: 158 10% 58.2%;

    --popover: 158 45% 10.66%;
    --popover-foreground: 158 10% 99.1%;

    --card: 158 45% 10.66%;
    --card-foreground: 158 10% 99.1%;

    --border: 158 50% 24.599999999999998%;
    --input: 158 50% 24.599999999999998%;

    --primary: 158 100% 82%;
    --primary-foreground: 158 10% 8.2%;

    --secondary: 158 50% 24.599999999999998%;
    --secondary-foreground: 158 10% 99.1%;

    --accent: 158 50% 24.599999999999998%;
    --accent-foreground: 158 10% 99.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 158 10% 99.1%;

    --ring: 158 100% 82%;
  }

  .dark {
    --gradient: linear-gradient(to top left, #a1ffce, #faffd1);

    --background: 158 65% 6.56%;
    --foreground: 158 10% 99.1%;

    --muted: 158 50% 24.599999999999998%;
    --muted-foreground: 158 10% 58.2%;

    --popover: 158 45% 10.66%;
    --popover-foreground: 158 10% 99.1%;

    --card: 158 45% 10.66%;
    --card-foreground: 158 10% 99.1%;

    --border: 158 50% 24.599999999999998%;
    --input: 158 50% 24.599999999999998%;

    --primary: 158 100% 82%;
    --primary-foreground: 158 10% 8.2%;

    --secondary: 158 50% 24.599999999999998%;
    --secondary-foreground: 158 10% 99.1%;

    --accent: 158 50% 24.599999999999998%;
    --accent-foreground: 158 10% 99.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 158 10% 99.1%;

    --ring: 158 100% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
